@import 'variables';

h1 {
    color: $colorOfMe;
}

header {
    color: aqua;
}

.card-course-item {
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.item-centerd {
    display: flex;
    justify-content: center;
}
