<nav class='navbar navbar-expand-lg bg-dark'>
    <div class='container'>
        <a class='navbar-brand text-light' href='/'>CODE WITH ME</a>
        <div id='navbarSupportedContent' class="ml-auto">
            <div class="dropdown">
                <img class="img-avatar" src="https://scontent.fsgn19-1.fna.fbcdn.net/v/t39.30808-1/450089244_2154731894900257_8310585766692963929_n.jpg?stp=cp0_dst-jpg_s40x40_tt6&_nc_cat=107&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeHGTPvVXydPsihc3PlSMI0_2iZycI4t9ZDaJnJwji31kFXJd6eVY7zdF11_F_Zkhs1f9NsGxUejMycjAlxU3NeF&_nc_ohc=_uLbk18PieAQ7kNvgG9-EcS&_nc_oc=AdiCKj87sCLZRvagf9nLIkw074RVYZjf6aBRIb3TsWN_cJ-ZvKhVqzf-zzX0KtSEIrc&_nc_zt=24&_nc_ht=scontent.fsgn19-1.fna&_nc_gid=AAUC0KeoUEeFVKHG4Md228B&oh=00_AYAVq6IK2bn7BBvFEE14lQrfKWymThXYz74mShifXBF4_A&oe=67CDB548" alt="">
                <button class="btn dropdown-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hồng Phong
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class='dropdown-item' href='/courses/'>Danh sách các khóa học</a>
                    <a class='dropdown-item' href='/courses/create'>Thêm khóa học mới</a>
                    <a class='dropdown-item' href='/me/stored/courses'>Bài đăng của tôi</a>
                </div>
            </div>
        </div>
    </div>
</nav>