<nav class='navbar navbar-expand-lg bg-dark'>
    <div class='container'>
        <a class='navbar-brand text-light' href='/'>CODE WITH ME</a>
        <div id='navbarSupportedContent' class="ml-auto">
            <div class="dropdown">
                <img class="img-avatar" src="https://scontent.fsgn19-1.fna.fbcdn.net/v/t39.30808-1/450089244_2154731894900257_8310585766692963929_n.jpg?stp=cp0_dst-jpg_s40x40_tt6&_nc_cat=107&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeHGTPvVXydPsihc3PlSMI0_2iZycI4t9ZDaJnJwji31kFXJd6eVY7zdF11_F_Zkhs1f9NsGxUejMycjAlxU3NeF&_nc_ohc=b_usb6wY9EcQ7kNvgFtgu1D&_nc_oc=AdgNR-ty50-DdhkjqHe7GFHiBsTsu9-LMfP5f4p0ZgnmyZEODCB5cmKLsUZWjQ6sC_c&_nc_zt=24&_nc_ht=scontent.fsgn19-1.fna&_nc_gid=A3DSKlxuonthJMCoYQADMxa&oh=00_AYGL4RH604_6EbxlABVxJGDm2ck8dncnkfpzpSIL6zRaJw&oe=67D5D688" alt="">
                <button class="btn dropdown-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hồng Phong
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class='dropdown-item' href='/courses/'>Danh sách các khóa học</a>
                    <a class='dropdown-item' href='/courses/create'>Thêm khóa học mới</a>
                    <a class='dropdown-item' href='/me/stored/courses'>Bài đăng của tôi</a>
                </div>
            </div>
        </div>
    </div>
</nav>