<div class='mt-4 item-centerd'>
    <div class='col-sm-6 col-lg-4'>
        <iframe
            width='560'
            height='315'
            src={{slug.image}}
            title='YouTube video player'
            frameborder='0'
            allow='accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture; web-share'
            referrerpolicy='strict-origin-when-cross-origin'
            allowfullscreen
        ></iframe>
        <h5 class='card-title'>{{slug.name}}</h5>
        <p class='card-text'>{{slug.description}}</p>
        <a href='#' class='btn btn-primary'>Just try it</a>
    </div>
</div>